{% extends "Users/base.html" %}
{% block content %}


  <div class="content-section">
      <h2>Welcome to GoLift Weightlifting Club! </h2>
 <blockquote>
<p>

This app will allow you to effectively log your training, view your training and predict how likely you are to become a development, Commonwealth or Olympic lifter.

These predictions will be based on historical British Weightlifing data from 2015 to 2019. The factors taken into consideration for this prediciton are your Total (Snatch + Clean&Jerk), Back Squat and Front Squat. The model will take your best Snatch and Clean&Jerk on any given day from your training logs as your Total.
Good luck and enjoy!</p>

    <footer>Please be aware that your prediction increases in accuracy with a greater amount of data from your training log.</footer>

  </blockquote>
</div>



{% endblock content %}