{% extends "Users/base.html" %}
{% load crispy_forms_tags %}
{% load static from staticfiles %}
{% block content %}



{% load i18n widget_tweaks %}


  <div class="content-section">


    <form action="{% url 'add-exercise' %}" method="post" id="exercise-create" class="form">{% csrf_token %}




            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add Exercise</legend>

   <div class="form-group" id="exerciseModal">
      <label> Please add an exercise </label>
     {{ exercise_form|crispy}}
    </div>
            </fieldset>

                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                <input type="submit" class="btn btn-primary" value="Save changes" />



    </form>
</div>
<script>

</script>







{% endblock content %}